:root {
    --color-plain: #e9dfd4;
    --color-accent: #e79a47;
    --color-primary: #f1ece7;
    --color-success: #d7e9d4;
    --color-error: #e9d4d8;
    --color-info: #d4e1e9;
    --color-warn: #e9dcd4;
}

::selection {
    background-color: rgba(0, 0, 0, .2) !important;
}

body {
    background-color: var(--color-plain);
}

.card {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 5px 4px 1px rgba(0, 0, 0, .05);
}

.card:not(:first-child) {
    margin-top: 1.6rem;
}

.card>h1 {
    padding: 0;
    margin: 0;
}

.card>.subtitle {
    margin-top: .2rem;
    color: rgba(0, 0, 0, .6);
    word-break: break-all;
}

.card-label {
    color: rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.list-card {
    padding-left: 0;
    padding-right: 0;
}

.list-card .card-label,
.list-card .card-container {
    padding: 0 2rem;
}

.list-card .card-container {
    margin-top: 1rem;
}

.list-card ul,
.list-card ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="text"] {
    border: 2px var(--color-primary) solid;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: .4rem;
    outline: none;
    transition: all .2s;
}

input[type="text"]:focus {
    border: 2px var(--color-accent) solid;
    box-shadow: 0 0 0 3px rgba(231, 154, 71, .4);
}

input[type="checkbox"] {
    filter: grayscale();
}

.input-label {
    margin-bottom: .6rem;
}

.form-combine {
    display: flex;
}

.form-combine>button {
    min-width: .1rem;
    margin-left: .5rem;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: .4rem 1.2rem;
    border-radius: 8px;
    background-color: var(--color-primary);
    border: 2px transparent solid;
    outline: none;
    transition: all .2s;
    color: rgba(0, 0, 0, .9);
}

.button:not(:disabled):hover {
    cursor: pointer;
}

.button:focus {
    border: 2px var(--color-accent) solid;
}

.button:disabled {
    filter: grayscale();
}

.button.button-outline {
    background-color: transparent;
}

.button.button-outline:not(:disabled):hover {
    border: 2px var(--color-plain) solid;
}

.badge {
    border-radius: 5px;
    color: rgba(0, 0, 0, .4);
    font-weight: bold;
    font-size: .8rem;
}

.badge.success {
    background-color: var(--color-success);
    box-shadow: 0 0 0 .4rem var(--color-success);
}

.badge.error {
    background-color: var(--color-error);
    box-shadow: 0 0 0 .4rem var(--color-error);
}

.badge.info {
    background-color: var(--color-info);
    box-shadow: 0 0 0 .4rem var(--color-info);
}

.badge.warn {
    background-color: var(--color-warn);
    box-shadow: 0 0 0 .4rem var(--color-warn);
}

.spinner {
    display: inline-block;
    border: .15rem rgba(0, 0, 0, .1) solid;
    border-top: .15rem rgba(0, 0, 0, .4) solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spinner .5s linear infinite;
    box-sizing: border-box;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card-label>.spinner {
    margin-left: .5rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    z-index: 233;
    background-color: #fff;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 5px 4px 1px rgba(0, 0, 0, .05);
    border: 2px var(--color-plain) solid;
}

.alert {
    border: 2px rgba(0, 0, 0, 0.05) solid;
    padding: 1rem;
    border-radius: 8px;
    color: rgba(0, 0, 0, .9);
}

.alert.success {
    background-color: var(--color-success);
}

.alert.warn {
    background-color: var(--color-warn);
}

.alert.error {
    background-color: var(--color-error);
}

.alert.primary {
    background-color: var(--color-primary);
}